{
    debug    
    order prometheus first
}

:80 {
	@path1 {        
        path /path1
    }

	@path2 {        
        path /path2
    }

    handle @path1 {
        respond "Hello path1" 200

        header {
            "X-Route-Name" "/path1"
        }
    }

    handle @path2 {
        header {
                "X-Route-Name" "/path2"
        }

        respond "Hello path2" 200
    }

    prometheus {
        address 0.0.0.0:2081
        path    /metrics
        label server {>Server}
        label route_name {>X-Route-Name}
    }

    metrics /metrics
}
