{
    debug    
    order prometheus last
}

localhost:80 {
	@path1 {        
        path /path1
    }

	@path2 {        
        path /path2
    }

    handle @path1 {
        respond "Hello path1" 

        header {
            "X-Route-Name" "/path1"
        }
    }

    handle @path2 {
        header {
                "X-Route-Name" "/path2"
        }

        respond "Hello path2"
    }

    prometheus {
        label route_name {>Server}
        label route_name2 {>Server}
    }

    metrics /metrics
}
